
* {
  font-family: 'Roboto', sans-serif;
}
/*
COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253
*/


body {
  background-image: url("./assets/burger-friends.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: top, center;
  margin: 0px;
}

header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0fb9b1;
}

.title {
  margin-left: 25px
}

.view-favorites-button {
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  height: 35px;
  margin-right: 25px;
  padding: 0px 10px;
  font-size: medium;
}

/* main {
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

.home-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.box {
display: flex;
flex-direction: column;
margin: 50px;
width: 625px;
height: 400px;
position: relative;
}

.left-box {
  background-color: rgba(225, 225, 225, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-box {
  background-color: rgba(225, 225, 225, 0.9);
  display: flex;
  justify-content: center;
  align-content: center;
}

.left-box > .what-you-wanna-cook, #choose-course, .lets-cook-button{
  margin-left: 10%
}
.what-you-wanna-cook {
  margin: 0px;
}

input {
  margin-top: 25px;
}

#choose-course {
}

.lets-cook-button {
  margin-top: 25px;
  width: 25%;
  height: 8%;
  background-color: #0fb9b1;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;

}

.cook-pot-image {
  height: 40%;
  margin-top: 40px
}

.you-should-make {
  text-align: center;
  font-size: 16px;
  transform: translateY(0px);
}

.insert-recipe {
  text-align: center;
  margin-top: 0px
}

.fav-button {
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 13%;
  background-color: #0fb9b1;
  margin-left: 273px

}

/* fav view from here on down */

.fav-view{
  display: flex;
  justify-content: center;


}
.fav-recipes-box {
  background-color: rgba(225, 225, 225, 0.9);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 100px;
  width: 50%;
  height: 700px;

}

.hidden {
  display: none;
}
